# Ignore word documents
*.doc
*.docx

# Ignore compiled PDFs. Don't forget to 'git add -f' the github preview copy
*.pdf

# Ignore Reference Folders
OldResumes/*
ReferenceResumes/*

# Ignore build artifacts
*.log
*.aux

# Don't publish contact info
contactInfo_private.txt
